# SBASIC sources:
*_bas linguist-language=BASIC
*.bas linguist-language=BASIC

# SBASIC extensions:
*_code binary

# Pictures:
*_scr binary
*_pic binary
*.png binary
*.bmp binary

# Fonts:
*_font binary

# vim: filetype=config
